<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration scan="true">-->
    <!--&lt;!&ndash; Avoid logger spam from web socket &ndash;&gt;-->
    <!--<logger name="org.eclipse.jetty" level="INFO"/>-->
    <!--&lt;!&ndash; Configure Discord4J logger level &ndash;&gt;-->
    <!--<logger name="sx.blah.discord.Discord4J" level="TRACE"/>-->

    <!--<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--<root level="trace">-->
        <!--<appender-ref ref="CONSOLE"/>-->
    <!--</root>-->
<configuration>
    <logger name="org.eclipse.*" level="OFF"/>
    <logger name="sx.blah.*" level="OFF"/>
</configuration>
